<style>
h1{font-family: 'Sansita', sans-serif;}
h2{font-family: 'Sansita', sans-serif;}
body{background-image: url("../images/fondo.png"); background-repeat: no-repeat;
      background-size:100% 100%;}
IMG.imgcenter{
          display: block;
          margin-left: auto;
          margin-right: 3px;
          border: black 3px solid;
          }
hr {clear: both;}
ul {float: left;}
img {float: left;}

table{text-align: center;}
td {border: black 1px solid;}
th {border: black 2px solid;}
.clicked{font-family: 'Barrio', cursive;}
</style>
